img, 
section{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    position: relative;
    margin: 0 auto;
    width: 1780px;/*1720*/
    border: 1px solid black;
    font-size: 0px;
}
.box{
    display:inline-block;
    width: 430px;
    box-shadow: inset 0 0 72px 10px black;
    /* 高度由图片决定，比图片高90像素*/
}
.box img{
    display: block;
    margin: 35px 35px;/* 撑开父盒子*/
    width: 360px;
}
